{% extends 'core/base.html' %}
{% load static %}

{% block 'conteudo' %}
<div loading="lazy" id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="container">

                <div style=" display:flex; justify-content:center; flex-direction:column; text-align:center; align-items:center;position:relative; padding:2rem;z-index:10;">
                    <h2 style="font-weight:600;">Informações Importantes:</h2>

                    <span style="font-size:1.3rem;">  
                        
                      Passeio na Trilha – Duração: 3h30

                      Valor:
                      
                      Crianças de 5 a 10 anos: R$ 100,00
                      A partir de 11 anos: R$ 200,00 (valor normal da reserva por passeio adulto)
                      Atividades Incluídas:
                      
                      Consagração do Rapé: Aplicação opcional do rapé, uma medicina tradicional dos povos originários. Feito por pajés, é 100% natural e promove conexão com a natureza.
                      Palestras: Apresentação sobre os verdadeiros donos do território, suas ações territoriais e sua formação social, econômica, política e cultural.
                      Trilha da Jundiba: Caminhada de 40 a 45 minutos da entrada até o centro da reserva, onde o guia compartilha informações sobre as tradições do povo Pataxó. Durante o percurso, é possível apreciar artes manuais repletas de história e ancestralidade. A trilha leva o nome de uma árvore centenária de mais de 15 metros de altura, a Jundiba.
                      Horários Disponíveis:
                      
                      Segunda a Sexta: Das 8h30 às 14h30
                      Sábado: Das 8h30 às 12h
                      Domingo: Fechado
                    </span>
                  </div>
                <div class="booking-form">
                    
                    <div loading="lazy" class="booking-bg" style="background:  url('{%static 'img/PHB_8138.JPG'%}'); object-fit:cover;
					background-size:cover; background-position:center;"></div>
                    
                    <form method="post" action="{% url 'checkout' evento_id %}">
                        {% csrf_token %}
                        <div class="form-header">
                            <h2>Faça sua Reserva</h2>
                        </div>
                        <div class="row">
                       
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Adultos</span>
                                    <input class="form-control" type="number" name="qtd_adultos" id="qtd_adultos" min="1" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Crianças (6-10 anos)</span>
                                    <input class="form-control" type="number" name="qtd_criancas_6_a_10" id="qtd_criancas_6_a_10" min="0" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <span class="form-label">Crianças (0-5 anos)</span>
                                    <input class="form-control" type="number" name="qtd_criancas_0_a_5" id="qtd_criancas_0_a_5" min="0" required>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <span class="form-label">Data do Evento</span>
                                <input type="text" id="dataEvento" name="dia" class="form-control">
                            </div>

<div>
    <span class="form-label">Valor Total:</span>
    <span id="precoTotal">R$ 0,00</span>

</div>
                        <div class="form-btn">
                            
                            <button class="submit-btn">Reservar</button>
                           
                        </div>
                    </form>


              
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            flatpickr("#dataEvento", {
                                enableTime: false,
                                dateFormat: "Y-m-d",
                                minDate: new Date(2024, 0, 1), // 1 de janeiro de 2024
                                maxDate: new Date(2024, 11, 31), // 31 de dezembro de 2024
                                locale: {
                                    firstDayOfWeek: 1, // Semana começa na segunda
                                    weekdays: {
                                        shorthand: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'],
                                        longhand: ['Domingo', 'Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado'],                         
                                    }, 
                                    months: {
                                        shorthand: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                                        longhand: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
                                    },
                                    ordinal: function (nth) {
                                        if (nth > 1) return "º";
                                        return "";
                                    },
                                    rangeSeparator: ' até ',
                                    weekAbbreviation: 'Sem.',
                                    scrollTitle: 'Role para aumentar',
                                    toggleTitle: 'Clique para alternar',
                                    amPM: ['AM', 'PM'],
                                    yearAriaLabel: 'Ano',
                                    monthAriaLabel: 'Mês',
                                    hourAriaLabel: 'Hora',
                                    minuteAriaLabel: 'Minuto',
                                    time_24hr: true
                                },
                                "disable": [
                                    function(date) {
                                        // Desabilitar todos os domingos
                                        return (date.getDay() === 0);
                                    }
                                ]
                            });
                        });
                        </script>

<script>
    function calcularPreco() {
        var precoPorAdulto = '{{ evento.valor_por_adulto|floatformat:"2" }}'.replace(',', '.');
        var precoPorCrianca6a10 = '{{ evento.valor_por_crianca_6_a_10|floatformat:"2" }}'.replace(',', '.');
        var precoPorCrianca0a5 = '{{ evento.valor_por_crianca_0_a_5|floatformat:"2" }}'.replace(',', '.');

        precoPorAdulto = parseFloat(precoPorAdulto);
        precoPorCrianca6a10 = parseFloat(precoPorCrianca6a10);
        precoPorCrianca0a5 = parseFloat(precoPorCrianca0a5);

        var qtdAdultos = parseInt(document.getElementById('qtd_adultos').value) || 0;
        var qtdCriancas6a10 = parseInt(document.getElementById('qtd_criancas_6_a_10').value) || 0;
        var qtdCriancas0a5 = parseInt(document.getElementById('qtd_criancas_0_a_5').value) || 0;

        var total = (qtdAdultos * precoPorAdulto) + (qtdCriancas6a10 * precoPorCrianca6a10) + (qtdCriancas0a5 * precoPorCrianca0a5);
        
        document.getElementById('precoTotal').textContent = 'R$ ' + total.toFixed(2).replace('.', ',');
    }

    document.getElementById('qtd_adultos').addEventListener('change', calcularPreco);
    document.getElementById('qtd_criancas_6_a_10').addEventListener('change', calcularPreco);
    document.getElementById('qtd_criancas_0_a_5').addEventListener('change', calcularPreco);

    calcularPreco(); // Calcular o preço inicial
</script>


</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" desktop-imgs mt-4" style="gap:.5rem;">
  <img loading="lazy" class="color-1" style="object-fit:cover; max-width:25%" src="{%static 'img/PHB_8148.JPG' %}">

  <img loading="lazy" class="color-1" style="object-fit:cover; max-width:25%" src="{%static 'img/PHB_8164.JPG' %}">
  
  <img loading="lazy" class="color-0 alive" style="object-fit:cover; max-width:25%" src="{%static 'img/PHB_8151.JPG' %}">

  <img loading="lazy" class="color-0 alive" style="object-fit:cover; max-width:25%" src="{%static 'img/PHB_81501.png' %}">

  
</div>
</div>
<div class="mobile-slider" id="slide-window" style="height:500px !important;object-fit:cover; ">
  
  <ol id="slides" start="1">
  
    <li loading="lazy" class="slide color-0 alive" style="object-fit:cover; background-image:url('{%static 'img/PHB_8148.JPG' %}');"></li>
    <li loading="lazy" class="slide color-0 alive" style="object-fit:cover; background-image:url('{%static 'img/PHB_8151.JPG' %}');"></li>

    
    <li loading="lazy" class="slide color-1" style="object-fit:cover; background-image:url('{%static 'img/PHB_8164.JPG' %}');"></li>
    
    
    <li loading="lazy" class="slide color-1" style="object-fit:cover; background-image:url('{%static 'img/PHB_81501.png'  %}');"></li>

    

   
  
  </ol>

  <span class="nav fa fa-chevron-left fa-3x" style="color:#fff !important" id="left"><i style="font-size:5rem !important;" class="bi bi-arrow-left-short"></i>
  </span>
  <span class="nav fa fa-chevron-right fa-3x" style="color:#fff !important" id="right"><i style="font-size:5rem !important;" class="bi bi-arrow-right-short"></i>
  </span>
  
  <div id="credit">Photography by Trey Ratcliff<br>Slide No.<span id="count">1</span><br><span id="zoom">zoom</span></div>
  
</div>



<script>
  $.global = new Object();
  
  $.global.item = 1;
  $.global.total = 0;
  
  $(document).ready(function() 
    {
    
    var WindowWidth = $(window).width();
    var SlideCount = $('#slides li').length;
    var SlidesWidth = SlideCount * WindowWidth;
    
     $.global.item = 0;
      $.global.total = SlideCount; 
      
    $('.slide').css('width',WindowWidth+'px');
    $('#slides').css('width',SlidesWidth+'px');
  
     $("#slides li:nth-child(1)").addClass('alive');
      
    $('#left').click(function() { Slide('back'); }); 
    $('#right').click(function() { Slide('forward'); }); 
          
    });
  
  function Slide(direction)
    {
     
      if (direction == 'back') { var $target = $.global.item - 1; }
      if (direction == 'forward') { var $target = $.global.item + 1; }  
      
      if ($target == -1) { DoIt($.global.total-1); } 
      else if ($target == $.global.total) { DoIt(0); }  
      else { DoIt($target); }
      
      
    }
  
  function DoIt(target)
    {
     
      var $windowwidth = $(window).width();
    var $margin = $windowwidth * target; 
      var $actualtarget = target+1;
      
      $("#slides li:nth-child("+$actualtarget+")").addClass('alive');
      
      $('#slides').css('transform','translate3d(-'+$margin+'px,0px,0px)');	
      
      $.global.item = target; 
      
    $('#count').html($.global.item+1);
      
    }
  
      </script>

     
      <!-- Success Modal -->
      <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- ... rest of modal content ... -->
            <div class="modal-body">
              <div class="d-flex flex-column align-items-center" style="gap:1rem;">
                <img style="max-height:5rem;" src="{%static 'img/check (1).png'%}">
              {% if messages %}
                <div class="messages">
                  {% for message in messages %}
                    {% if message.tags == 'success' %}
                      <span style="font-size:1.2rem !important;">{{ message }}</span>
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Error Modal -->
      <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- ... rest of modal content ... -->
            <div class="modal-body">
      
                <div class="d-flex flex-column align-items-center" style="gap:1rem;">
                  <img style="max-height:5rem;" src="{%static 'img/close.png'%}">
                {% if messages %}
                <div class="messages">
                  {% for message in messages %}
                    {% if message.tags == 'error' %}
                <span style="font-size:1.2rem !important;">{{ message }}</span>
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', (event) => {
          {% if messages %}
            {% for message in messages %}
              {% if message.tags == 'success' %}
                var successModal = new bootstrap.Modal(document.getElementById('successModal'));
                successModal.show();
              {% elif message.tags == 'error' %}
                var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
                errorModal.show();
              {% endif %}
            {% endfor %}
          {% endif %}
        });
      </script>
        
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   
{% endblock %}

