{%extends 'core/base.html' %}
{%load static%}
{%block 'conteudo'%}


<div class="container">
<form method="post" action="{% url 'iniciar_doacao' %}" style="margin-bottom:10rem;">
    {% csrf_token %}
    <div class="form-header">
        <h2>Faça sua Reserva</h2>
    </div>
    <div class="row">
   
    <div class="row">
      
        <div class="form-group">
            <label for="valor_doacao">Valor da Doação:</label>

            <input type="number" name="valor_doacao" id="valor_doacao" required>

            <button type="submit">Doar</button>

        </div>
    </div>
    </div>
</form>
</div>
{%endblock%}
