{%extends 'core/base.html'%}
{%load static%}

{%block 'conteudo'%}


<div class="container mb-4 d-flex flex-column">
    <h2 class="text-center">Moda Pataxó:</h2>
<span style="text-align:center; font-size:1.2rem">
    Primeiro design de moda da etnia Pataxó do extremo sul da Bahia, em mais de quinze
    anos de experiência, trazendo a história, através do grafismo pataxó, inspirando a
    ousadia em cada peça criada. Elas carregam um significado que representa as origens
    do seu povo e da natureza, para levar a mensagem de proteção, luta e liberdade através
    da moda. Inspirada nas suas raízes pela avó, hoje com 103 anos, temo como referência
    a sua mãe artesã, artista, compositora e liderança fundadora do projeto de etnoturismo
    da Reserva da Jaqueira, junto com suas irmãs. Desde criança, Ludmilla desenhava e
    pintava roupas em quadros, e despertou a sua criatividade com o passar do tempo. Sua
    criatividade inspira a sustentabilidade, e originalidade movem cada peça pintada à mão,
    e sublimadas quando há necessidade de escala. A pergunta feita para decidir expandir
    a sua arte além do seu território foi: “O que cada etnia indígena tem de mais forte, e
    como posso levar essa mensagem de união para o mundo?” Assim, uniu a moda
    tradicional com a cultura dos povos.
    O desfile ĨHÉ ARAGWAKSÃ, entrou no calendário da festa tradicional da Reserva
    Pataxó da Jaqueira, que acontece todos anos, dia 31 de julho, um dia antes do
    casamento tradicional da comunidade. Alguns dias antes são selecionadas várias
    meninas e meninos de diversas aldeias, e são trabalhadas peças por peças, trazendo a
    inspiração da arte pataxó relacionada à natureza. Há dois momentos, o desfile dos trajes
    tradicionais, e o desfile com as peças criadas pela estilista, que traz um destaque
    importante para a festa, abrilhantado, trazendo diversos olhares e motivando outras
    jovens a se inspirarem na arte da moda indígena uma forma de gerar renda através de
    nossas artes.
</span>
</div>
<div class=" desktop-imgs justify-content-center mt-4" style="gap:.5rem;">
    <img loading="lazy" class="color-1" style="object-fit:cover; width:25%; max-height:30rem;" src="{%static 'img/33cd31b3-0e48-4213-b176-ea1e0dcec23f.jpg' %}">
  
    <img loading="lazy" class="color-1" style="object-fit:cover; width:25%; max-height:30rem;" src="{%static 'img/fe4306d2-e5b7-4723-91e7-bb3a7bfcc600.jpg' %}">
    
    <img loading="lazy" class="color-0 alive" style="object-fit:cover; width:25%; max-height:30rem;" src="{%static 'img/7d6fe112-7652-4578-8e94-7e18248140a2.jpg' %}">
  
    <img loading="lazy" class="color-0 alive" style="object-fit:cover; width:25%; max-height:30rem;" src="{%static 'img/816337ea-8c53-42da-b9ca-58300e78f895.jpg' %}">
  
    
  </div>
  </div>
  <div class="mobile-slider" id="slide-window" style="height:500px !important;object-fit:cover; ">
    
    <ol id="slides" start="1">
    
      <li loading="lazy" class="slide color-0 alive" style="object-fit:cover; background-image:url('{%static 'img/33cd31b3-0e48-4213-b176-ea1e0dcec23f.jpg' %}');"></li>
      
      <li loading="lazy" class="slide color-1" style="object-fit:cover; background-image:url('{%static 'img/fe4306d2-e5b7-4723-91e7-bb3a7bfcc600.jpg' %}');"></li>
      
      <li loading="lazy" class="slide color-0 alive" style="object-fit:cover; background-image:url('{%static 'img/7d6fe112-7652-4578-8e94-7e18248140a2.jpg' %}');"></li>
      
      <li loading="lazy" class="slide color-1" style="object-fit:cover; background-image:url('{%static 'img/816337ea-8c53-42da-b9ca-58300e78f895.jpg' %}');"></li>
  
      <li loading="lazy" class="slide color-0 alive" style="object-fit:cover; background-image:url('{%static 'img/a2f7c232-696a-4aba-89ac-498f3b8aee74.jpg' %}');"></li>
      
  
     
    
    </ol>
  
    <span class="nav fa fa-chevron-left fa-3x" style="color:#fff !important" id="left"><i style="font-size:5rem !important;" class="bi bi-arrow-left-short"></i>
    </span>
    <span class="nav fa fa-chevron-right fa-3x" style="color:#fff !important" id="right"><i style="font-size:5rem !important;" class="bi bi-arrow-right-short"></i>
    </span>
    
    <div id="credit">Photography by Trey Ratcliff<br>Slide No.<span id="count">1</span><br><span id="zoom">zoom</span></div>
    
  </div>
  
  
  
  <script>
    $.global = new Object();
    
    $.global.item = 1;
    $.global.total = 0;
    
    $(document).ready(function() 
      {
      
      var WindowWidth = $(window).width();
      var SlideCount = $('#slides li').length;
      var SlidesWidth = SlideCount * WindowWidth;
      
       $.global.item = 0;
        $.global.total = SlideCount; 
        
      $('.slide').css('width',WindowWidth+'px');
      $('#slides').css('width',SlidesWidth+'px');
    
       $("#slides li:nth-child(1)").addClass('alive');
        
      $('#left').click(function() { Slide('back'); }); 
      $('#right').click(function() { Slide('forward'); }); 
            
      });
    
    function Slide(direction)
      {
       
        if (direction == 'back') { var $target = $.global.item - 1; }
        if (direction == 'forward') { var $target = $.global.item + 1; }  
        
        if ($target == -1) { DoIt($.global.total-1); } 
        else if ($target == $.global.total) { DoIt(0); }  
        else { DoIt($target); }
        
        
      }
    
    function DoIt(target)
      {
       
        var $windowwidth = $(window).width();
      var $margin = $windowwidth * target; 
        var $actualtarget = target+1;
        
        $("#slides li:nth-child("+$actualtarget+")").addClass('alive');
        
        $('#slides').css('transform','translate3d(-'+$margin+'px,0px,0px)');	
        
        $.global.item = target; 
        
      $('#count').html($.global.item+1);
        
      }
    
        </script>
{%endblock%}