{%extends 'core/base.html'%}
{%load static%}

{%block 'conteudo'%}


<div class="container mb-4 d-flex flex-column">
    <h2 class="text-center">História:</h2>
<span style="text-align:center; font-size:1.2rem">
    Há mais de 523 anos atrás, os nossos ancestrais viviam em harmonia com a natureza.
    Com a chegada dos portugueses, tudo de bom que tínhamos acabou. Eles exploraram
    o pau-brasil, destruíram nossas matas e nos colocaram em redutos religiosos. Com
    essa agressão fizeram com que nós fôssemos perdendo nossos costumes, hábitos,
    tradições, a nossa língua.
    Nós, juntamente com Botocudos, Maxakali e outras etnias resistimos mais de trezentos
    anos graças à proteção da floresta que cobria toda a região só conhecida por nossos
    antepassados e graças a nossa maneira de viver, pois sempre fomos grupos nômades.
    Em 1861, por decisão do governo, fomos aldeados em Barra Velha.
    Em 1951, ocorreu um grave massacre na aldeia de Barra Velha, causado por homens
    brancos desconhecidos que entraram na aldeia trazendo morte e a dispersão do nosso
    povo indígena que ali vivia. Esse massacre acontece mais ou menos na mesma época
    da criação do Parque Nacional de Monte Pascoal, em 1943 que teve sua efetiva
    implantação na década de 60 e mais uma vez provocou o sofrimento e o
    empobrecimento do nosso povo.
    Com o passar dos anos, foram se formando outras aldeias, juntando-se os parentes. E
    assim surgiram as aldeias de Coroa Vermelha, Mata Medonha, Águas Belas e muitas
    outras.
    Há muito tempo vivemos lutando com um objetivo que é a demarcação de nossas terras.
    Então, em março de 1997, foi demarcada a terra de Coroa Vermelha, que passou a ser
    terra indígena. Após a demarcação da terra, nós os pataxó da Aldeia Coroa Vermelha
    despertamos e foram em busca do que estavam se perdendo, que era a nossa cultura.
    Em 19 de agosto de 1999, os Pataxó da aldeia Barra Velha e da aldeia Boca da Mata
    retomaram o Monte Pascoal e assumiram o controle da área, expulsando a
    administração local, que até então ficava sob a responsabilidade do IBAMA. (
    Reencontro do Maxakali e os Pataxó) 
</span>
</div>
<div class="container d-flex justify-content-center mb-4">
<img loading="lazy" style="width:100%; height:450; object-fit:cover;" src="{%static 'img/Cópia de _MG_0978 (1).jpg' %}">

</div>
{%endblock%}