{%extends 'core/base.html'%}
{%load static%}

{%block 'conteudo'%}


<div class="container mb-4 d-flex flex-column">
    <h2 class="text-center">História:</h2>
<span style="text-align:center; font-size:1.2rem">
    A Aldeia Velha, localizada no distrito de Arraial d’Ajuda, em Porto Seguro, carrega em suas raízes um longo histórico de luta e resistência do povo Pataxó. Este território, que hoje simboliza a reconstrução de uma identidade e o reencontro com as origens, foi palco de desafios que marcaram gerações. Durante décadas, os Pataxó enfrentaram períodos de invisibilidade, preconceito e expropriação de suas terras, o que culminou em um dos episódios mais marcantes de sua história: o “Fogo de 51”. Este ataque violento realizado pelas forças policiais destruiu a aldeia original, obrigando os moradores a se dispersarem pela região e enfrentarem o preconceito e as dificuldades de sobrevivência longe de seu território ancestral.
Mesmo diante de tantas adversidades, o povo Pataxó nunca desistiu de sua identidade. A dispersão forçada não apagou os laços de solidariedade e a conexão espiritual com a terra, que sempre foi o alicerce da comunidade. Na década de 1990, um novo capítulo começou a ser escrito. Famílias indígenas que viviam no Arraial d’Ajuda e em outras áreas próximas, lideradas pelo cacique Ipê, deram início a um movimento de retomada do território. Com determinação e um profundo senso de justiça, essas famílias enfrentaram pressões externas, uniram forças e, em 1998, consolidaram a reocupação da área que hoje é conhecida como Aldeia Velha.
A retomada foi mais do que um marco territorial; foi também um ato de reafirmação cultural e política. A liderança do cacique Ipê foi decisiva nesse processo. Ele mobilizou as famílias indígenas, promoveu a conscientização sobre os direitos do povo Pataxó e os organizou para construir uma nova comunidade, baseada em valores de união e respeito mútuo. A fundação da Aldeia Velha representou um novo começo, um espaço onde os Pataxó poderiam reconstruir suas vidas, valorizar sua cultura e transmitir suas tradições para as futuras gerações.
Hoje, a Aldeia Velha é um símbolo da resistência do povo Pataxó. Sua história inspira não apenas os moradores da aldeia, mas todos aqueles que conhecem a força dessa trajetória. Mais do que um território, a aldeia é um espaço de memória, cultura e luta, onde a conexão com a terra e os valores ancestrais continuam a guiar a comunidade rumo ao futuro. A história da Aldeia Velha é a prova viva de que, mesmo diante das maiores dificuldades, a resistência e a união podem transformar sonhos em realidade.
 
</span>
</div>
<div class="container d-flex justify-content-center mb-4">
<img loading="lazy" style="width:100%; height:450; object-fit:cover;" src="{%static 'img/PHB_8152 (1).jpg' %}">

</div>
{%endblock%}