{%extends 'core/base.html'%}
{%load static%}

{%block 'conteudo'%}


<div class="container mb-4 d-flex flex-column">
    <h2 class="text-center">Histórico do Aragwaksã:</h2>
<span style="text-align:center; font-size:1.2rem">
    Desde 1999 comemoramos na Reserva da Jaqueira o Aragwaksã, (lugar sagrado de
    grandes conquistas) festa tradicional do Povo Pataxó, onde nos reunimos para nos
    fortalecer enquanto pataxó, afirmar nossa identidade, através das danças, dos cânticos
    em nossa língua materna (PATXÔHÃ), pertencente ao tronco linguístico macro-jê.
    O Aragwaksã é um dia importante data, para o nosso povo, onde reunimos com anciões,
    jovens e mulheres de diversas aldeias da nossa região. Este ano comemoramos os 25
    anos, após anos de resistência pataxó, dia de grande confraternização, e reflexão onde
    afirmamos nossos rituais sagrados, através do batismo das crianças ( tawá ), acontece
    o casamento tradicional, com comidas e bebidas tradicional.
    O ARAGWAKSÃ PATAXÓ”, já está no calendário das aldeias pataxó, onde iniciamos
    dia 28 de julho, e finaliza dia 01 de agosto, de cada ano.
    O aragwaksã e um momento da vivência da continuidade da afirmação da nossa
    identidade, onde nós garantimos a continuidade das nossas ancestralidades étnicas. A
    realização do Aragwaksã justifica pela importância de estar com os nossos anciãos,
    para compartilhar os conhecimentos que será repassado para os mais novos.
    Os dias de celebração se torna um momento íntimo do nosso povo, onde fazemos
    nossos momentos sem a presença dos não índios, e após abrimos para convidados e
    parceiros que já se preparam para esses dias em nossa comunidade. O nosso objetivo
    é convidar os parentes de diversas aldeias da nossa região para somar com os valores
    culturais, com grupos indígenas e outras etnias como os MAXAKALI, que todos anos
    estão presentes, para nos fortalecermos enquanto povo dos primeiros contatos e
    mostrar para toda sociedade que estamos vivos, e resistimos para dar continuidade a
    nossa história. Hoje podemos afirmar a continuidade de nossa geração, com
    revitalização da língua Pataxó, a realização do casamento tradicional, batismos
    tradicionais, caçado dos guerreiros, e fartura alimentos para todos os convidados. A
    cada ano o número de participante vem crescendo e precisamos continuar buscando
    apoio para garantir os parentes. 
</span>
</div>
<div class="container d-flex justify-content-center" style="margin-bottom:85px;">
<img loading="lazy" style="width:100%; height:450; object-fit:cover;" src="{%static 'img/2023_Aragwaksã-CasamentoPataxó_IsisMedeiros-0418.jpg' %}">

</div>
{%endblock%}