{%extends 'core/base.html'%}
  {%load static%}
 {%block 'conteudo'%} 

  <div id="slide-window">
  
    <ol id="slides" start="1">
    
      
      <li loading="lazy" class="slide color-1 alive" style="background-image:url('{%static 'img/PHB_8154.JPG' %}');"></li>
      <li loading="lazy" class="slide color-1" style="background-image:url('{%static 'img/PHB_8140.JPG' %}');"></li>
      <li loading="lazy" class="slide color-1" style="background-image:url('{%static 'img/PHB_8148.JPG' %}');"></li>

     
    
    </ol>
 
    <span class="nav fa fa-chevron-left fa-3x" style="color:#fff !important" id="left"><i style="font-size:5rem !important;" class="bi bi-arrow-left-short"></i>
    </span>
    <span class="nav fa fa-chevron-right fa-3x" style="color:#fff !important" id="right"><i style="font-size:5rem !important;" class="bi bi-arrow-right-short"></i>
    </span>
    
    <div id="credit">Photography by Trey Ratcliff<br>Slide No.<span id="count">1</span><br><span id="zoom">zoom</span></div>
    
</div>



<div loading="lazy" class="d-none p-5 justify-content-center align-items-center flex-mobile" style="background: linear-gradient(to right, rgba(0, 128, 0, 0.456), rgba(0, 128, 0, 0.477)), url('{%static 'img/vlad-hilitanu-pt7QzB4ZLWw-unsplash (1).jpg' %}'); background-size: cover; gap: 2rem; margin-bottom:26px !important;">

    <div class="flex-mobile d-flex flex-column align-items-center" style="gap:1rem;"><img style="height: 4rem;" src="{%static 'img/teamwork.png' %}"> <span class="text-center fw-bold" style="font-size:1.2rem !important; color:#fff !important;">Cultura</span></div>

    <div class="flex-mobile d-flex flex-column align-items-center" style="gap:1rem;"><img style="height: 4rem;" src="{%static 'img/planet-earth.png'%}"> <span class="text-center fw-bold" style="font-size:1.2rem !important; color:#fff !important;">Etnovivência Turismo <br> Sustentável</span></div>

    <div class="flex-mobile d-flex flex-column align-items-center" style="gap:1rem;"><img style="height: 4rem;" src="{%static 'img/territories.png' %}"> <span class="text-center fw-bold" style="font-size:1.2rem !important; color:#fff !important;">Gestão Territorial<br> e Ambiental</span></div>

    <div class="flex-mobile d-flex flex-column align-items-center" style="gap:1rem;"><img style="height: 4rem;" src="{%static 'img\power.png' %}"> <span class="text-center fw-bold" style="font-size:1.2rem !important; color:#fff !important;">Fortalecimento<br> Cultural</span></div>


    <div class="flex-mobile d-flex flex-column align-items-center" style="gap:1rem;"><img style="height: 4rem;" src="{%static 'img\graduation-cap.png'  %}"> <span class="text-center fw-bold" style="font-size:1.2rem !important; color:#fff !important;">Educação<br> e Capacitação</span></div>


</div>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
$.global = new Object();

$.global.item = 1;
$.global.total = 0;

$(document).ready(function() 
	{
	
	var WindowWidth = $(window).width();
	var SlideCount = $('#slides li').length;
	var SlidesWidth = SlideCount * WindowWidth;
	
   $.global.item = 0;
    $.global.total = SlideCount; 
    
	$('.slide').css('width',WindowWidth+'px');
	$('#slides').css('width',SlidesWidth+'px');

   $("#slides li:nth-child(1)").addClass('alive');
    
  $('#left').click(function() { Slide('back'); }); 
  $('#right').click(function() { Slide('forward'); }); 
        
  });

function Slide(direction)
	{
   
    if (direction == 'back') { var $target = $.global.item - 1; }
    if (direction == 'forward') { var $target = $.global.item + 1; }  
    
    if ($target == -1) { DoIt($.global.total-1); } 
    else if ($target == $.global.total) { DoIt(0); }  
    else { DoIt($target); }
    
    
	}

function DoIt(target)
  {
   
    var $windowwidth = $(window).width();
	var $margin = $windowwidth * target; 
    var $actualtarget = target+1;
    
    $("#slides li:nth-child("+$actualtarget+")").addClass('alive');
    
    $('#slides').css('transform','translate3d(-'+$margin+'px,0px,0px)');	
    
    $.global.item = target; 
    
  $('#count').html($.global.item+1);
    
  }

    </script>


<div class="container mt-5" style=" padding-bottom: 26px;">

    <div class="flex-mobile d-flex justify-content-center align-items-center" style="gap:2rem">
        {%for evento in eventos%}
      <div class="d-flex align-items-center flex-column passeio">
        <h2 class="text-center mb-2">{{evento.nome}}</h2>
        <img loading="lazy" style=" max-width: 40rem; width:100%; max-height: 22rem; object-fit: cover !important; border-radius:12px !important;" src="{{evento.foto.url}}">
        <div class="d-flex flex-column align-items-center">
          <p style="font-size:1.2rem; margin-top:1rem;" class=" text-center">
            {{evento.descricao}}
          </p>
          {%if user.is_authenticated%}
          <a class="mt-1 d-flex" href="{% url 'checkout' evento.id %}">          <span class="text-center" style="margin-top:10px; background:#006135; padding:.7rem 5rem; font-size:1.3rem !important; max-width:100%; color:#fff !important; border-radius:4px;">Reservar Agora</span>
          </a>

          {%else%}
          <a class="mt-1 d-flex" href="{% url 'login' %}">          <span class="text-center" style="margin-top:10px; background:#006135; padding:.7rem 5rem; font-size:1.3rem !important; max-width:100%; color:#fff !important; border-radius:4px;">Reservar Agora</span>
          </a>
          {%endif%}
      </div>
    </div>


    {%endfor%}

</div>
</div>






    <!-- Seção de Território e Cultura Viva -->
    <div class="fluid-container p-4 mt-4" style="background: linear-gradient(to right, #013c08, rgba(4, 100, 4, 0.719)), url('{%static 'img/naom_555c9cda7837f (1).jpg' %}');">
      <div class="container">
          <h3 class="text-center" style="color:#fff !important; font-size:2rem;">Território Ancestral e Cultura Viva</h3>
          <p style="color:#fff; text-align:center; font-size:1.2rem;">A Terra Indígena Aldeia Velha possui mais de 2.000 hectares de natureza preservada. É um espaço de conexão espiritual e cultural, onde tradição e modernidade se encontram. Os jovens Pataxó promovem intercâmbios culturais, celebram danças, rituais e fortalecem a identidade indígena.</p>
      </div>
    </div>

    <!-- Seção de História e Cultura -->
    <div class="container d-flex flex-column align-items-center mt-5">
      <h3 class="text-center">História</h3>
      <img style="max-width:100%; height:30rem; object-fit:cover; border-radius:8px;" src="{%static 'img\PHB_81501.png' %}">
      <p style="font-size:1.2rem; margin-top:1rem;" class="text-center">
        
        A Aldeia Velha, localizada em Arraial d’Ajuda, Porto Seguro, é um símbolo de resistência do povo Pataxó. Durante décadas, eles enfrentaram preconceito e a expropriação de suas terras, culminando no ataque conhecido como “Fogo de 51”, que destruiu a aldeia original e dispersou seus moradores. Apesar das dificuldades, os Pataxó mantiveram seus laços culturais e, na década de 1990, iniciaram um movimento de retomada do território, liderado pelo cacique Ipê. Em 1998, consolidaram a reocupação, reafirmando sua identidade e direitos. Hoje, a Aldeia Velha representa memória, cultura e luta, mantendo viva a tradição e a conexão com a terra.
        
        </p>

    </div>


<div class="container" style="padding-top:20px; padding-bottom:26px;">

<h3 style="font-weight: 700;">Conheça a nossa cultura
</h3>


<div class="container flex-mobile d-flex align-items-center" style="gap:1rem;">

</div>
<div class="container" style="padding-top:20px; padding-bottom: 26px;">

<div class="flex-mobile d-flex justify-content-center align-items-start" style="gap:2rem">
  <div class="d-flex flex-column passeio2 justify-content-center align-items-center" style="width:50%">
    <img style="width: 20rem !important; max-width: 100%; height: 15rem; object-fit: cover !important; border-radius:12px !important;" loading="lazy" src="{%static 'img\PHB_8154.JPG' %}">
    <div class="d-flex flex-column align-items-center">
      <h4 class=" text-center" style="font-weight: 600 !important; margin-top:10px;"> A força da educação e da renovação</h4>
      <p style="font-size:1.2rem;" class="text-center">
        A Aldeia Velha é também um exemplo de como a educação pode transformar a comunidade. Jovens líderes, formados em licenciaturas interculturais e em contato com outras realidades indígenas, têm promovido um verdadeiro renascimento cultural. Professores indígenas e pesquisadores Pataxó têm registrado histórias, cantos, danças e técnicas de artesanato, resgatando e aprimorando tradições que passam de geração em geração.      {%if user.is_authenticated%}
      <a style="color:#006135 !important; font-weight:500 !important;" href="{% url 'checkout' 1 %}"> <h4>Reservar</h4></a>
      {%else%}
      <a style="color:#006135 !important; font-weight:600 !important;" href="{% url 'login' %}"> <h4>Reservar</h4></a>
    {%endif%}
  </div>
</div>








  <div class="d-flex flex-column passeio2 justify-content-start align-items-center" style="width:50%;">
    <img style="width: 20rem !important; max-width: 100%; height:15rem; object-fit: cover !important; border-radius:12px !important;" loading="lazy" src="{%static 'img/PHB_8164.JPG' %}">
    <div class="d-flex flex-column align-items-center">
      <h4 class=" text-center" style="font-weight: 600 !important; margin-top:10px;">Uma aldeia de portas abertas</h4>
      <p style="font-size:1.2rem;" class="text-center">
   
    
        Hoje, a Aldeia Velha é reconhecida não apenas entre os Pataxó, mas também por visitantes que buscam experiências autênticas de turismo cultural e ecológico. A comunidade acolhe todos com hospitalidade e orgulho, oferecendo um olhar profundo sobre sua rica história e cultura, enquanto compartilha sua mensagem de preservação ambiental e respeito pelas tradições.
      </p>
      {%if user.is_authenticated%}
  <a href="{% url 'checkout' 1 %}"> <h4>Reservar</h4></a>
  {%else%}
  <a href="{% url 'login' %}"> <h4>Reservar</h4></a>
{%endif%}
    </div>
  </div>

</div>
</div>
</div>
</div>




	  <!-- Success Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
        <!-- ... rest of modal content ... -->
        <div class="modal-body">
          <div class="d-flex flex-column align-items-center" style="gap:1rem;">
          <img style="max-height:5rem;" src="{%static 'img/check (1).png'%}">
          {% if messages %}
          <div class="messages">
            {% for message in messages %}
            {% if message.tags == 'success' %}
              <span style="text-align:center; font-size:1.2rem !important;">{{ message }}</span>
            {% endif %}
            {% endfor %}
          </div>
          {% endif %}
        </div>
        </div>
        </div>
      </div>
      </div>
      
      <!-- Error Modal -->
      <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
        <!-- ... rest of modal content ... -->
        <div class="modal-body">
      
          <div class="d-flex flex-column align-items-center" style="gap:1rem;">
            <img style="max-height:5rem;" src="{%static 'img/close.png'%}">
          {% if messages %}
          <div class="messages">
            {% for message in messages %}
            {% if message.tags == 'error' %}
          <span style="text-align:center; font-size:1.2rem !important;">{{ message }}</span>
            {% endif %}
            {% endfor %}
          </div>
          {% endif %}
          </div>
        </div>
        </div>
      </div>
      </div>
      
      <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', (event) => {
        {% if messages %}
        {% for message in messages %}
          {% if message.tags == 'success' %}
          var successModal = new bootstrap.Modal(document.getElementById('successModal'));
          successModal.show();
          {% elif message.tags == 'error' %}
          var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
          errorModal.show();
          {% endif %}
        {% endfor %}
        {% endif %}
      });
      </script>

   {%endblock%}