{%extends 'core/base.html'%}
{%load static%}

{%block 'conteudo'%}


<div class="container mb-4 d-flex flex-column">
    <h2 class="text-center">Localização:</h2>
<span class="text-center" style="font-size:1.2rem !important;">
    A Reserva Pataxó da Jaqueira está localizada
    no município de Porto Seguro, a 3 Km da BR
    367, e aproximadamente 15 km do centro de
    Porto Seguro. A Reserva Pataxó pertence à
    GLEBA -B da Terra Indígena de Coroa
    Vermelha. Compõe o corredor das RPPN´s da
    Mata Atlântica da Costa do Descobrimento,
    bem como o Corredor Central da Mata Atlântica
    (PPG7). E é monitorada pelo Plano de Gestão
    Ambiental -PGTA. 
</span>
</div>
<div class="container d-flex justify-content-center" style="margin-bottom:85px;">
    <iframe
  width="100%"
  height="450"
  frameborder="0"
  style="border:0"
  src="https://www.google.com/maps?q=-16.3711128,-39.0355453&hl=pt&t=&z=14&output=embed"
  allowfullscreen>
</iframe>
  </iframe>
</div>
{%endblock%}