{%extends 'core/base.html'%}
{%load static%}

{%block 'conteudo'%}


<div class="container mb-4 d-flex flex-column">
    <h2 class="text-center">A Reserva Pataxó da Jaqueira:</h2>
<span style="text-align:center; font-size:1.2rem">
    No dia 1° de agosto de 1996, houve a conquista da área que denominamos de Reserva
    Pataxó da Jaqueira, Terra indígena Coroa Vermelha, uma conquista coletiva dos
    caciques é lideranças pataxó. Neste dia saíram mais de trinta indígenas, entre jovens e
    adultos, mulheres e ancião para fazer a retomada desta área que tem um total de 827
    hectares de pura mata atlântica, que seria destruído pelos empresários.
    Após a conquista da nossa área, saímos para reverenciar, nossa nova casa,
    mergulhamos de mata a dentro e lá sentimos como os nossos antepassados viviam, no
    seu verdadeiro lugar. Quando voltamos, sentimos a necessidade de preserva aquele
    lugar, de criar um espaço da VIVÊNCIA PATAXÓ, onde pudéssemos ensinar os jovens
    e afirmar nossa cultura. Então o espaço foi criado, com o apoio do conselho de caciques,
    onde foi afirmado por todos, que aquele lugar será uma área de preservação ambiental,
    para que pesquisa do nosso povo, onde teve apoio da FUNAI e dos órgãos ambientais.
    Assim deu iniciou do projeto, de afirmação das tradições pataxó, e preservação
    ambiental, mesmo com todas dificuldades enfrentadas, sem apoio financeiro, todos dias
    andando 12 km, passando por necessidades foram construídos os primeiros kijemes
    (casas tradicionais). Foram vários dias enfrentando chuvas, lamas, morros para
    conseguir os materiais necessários, construímos 8 kijemes, sendo um grande, que
    serviu as reuniões e espaço da nossa vivencias.
    Após dois anos de trabalho em acordo com todos (as) abrimos o espaço para a visitação
    de turistas, estudantes, pesquisadores, que a princípio chamamos de ecoturismo, e na
    atualidade de etnoturismo, vivencia em nossa comunidade.
    Hoje os trabalhos que são administrados pelo INSTITUTO PATAXÓ DE
    ETNOTURISMO, têm por finalidade de buscar melhorias para nossas comunidades,
    através de projetos sustentáveis voltados para a afirmação da cultura e preservação
    ambiental. A ideia de implementar a etnovivência na aldeia Pataxó surgiu com a
    necessidade de se redesenhar o convívio produtivo da nossa comunidade para se ter
    uma forma de sustentabilidade que envolvesse preservar sua identidade e uma forma
    própria de expressá-la e ao mesmo tempo poder promover sua consciência para a
    valorização do ser e do saber do povo Pataxó e dar a devida importância da sua raiz. O
    objetivo desse projeto é também de defender os interesses de outras comunidades
    indígenas que querem implementar o etnoturismo e a etnovivencia como forma de
    ampliar a sua sustentabilidade, através do compartilhamento de experiências, que
    possam gerir melhor projetos como forma de sustento, preservação ambiental e
    afirmação cultural, mantendo assim a sua autonomia em suas terras e nas suas vidas. 
</span>
</div>
<div class="container d-flex justify-content-center" style="margin-bottom:85px;">
<img loading="lazy" style="width:100%; height:450; object-fit:cover;" src="{%static 'img/2023_Aragwaksã-CasamentoPataxó_IsisMedeiros-0650.jpg' %}">

</div>
{%endblock%}